body {
    width: 100%;
    height: 50vh;
    background: rgb(62, 62, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
}

.d1 {
    height: 100px;
    width: 500px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.q1 {
    height: 100px;
    aspect-ratio: 1;
    background: yellow;
}

.q2 {
    height: 100px;
    aspect-ratio: 1;
    background: yellow;
}

.q3 {
    height: 100px;
    aspect-ratio: 1;
    background: yellow;
}

.d2 {
    height: 100px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: yellow;
}

.d3 {
    height: 100px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.r1 {
    height: 100px;
    width: 300px;
    background: yellow;
}

.q4 {
    height: 100px;
    aspect-ratio: 1;
    background: yellow;
}